.todoListCon {
  width: 250px;
  border: 2px solid#1b427d;
  margin: 20px;
  padding: 10px 20px;
  /* box-sizing: border-box; */
}
.todo_form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
  color: #1b427d;
}
.todoInputCon {
  display: flex;
  margin-left: -10px;
  height: 50px;
  align-items: center;
  /* justify-content: space-between; */
}
.todoInput {
  border: none;
  outline: none;
  font-size: 15px;
}

::placeholder {
  color: #1b427d;
  opacity: 0.5;
}
