.todo_list {
  /* text-align: center; */
  display: flex;
  align-items: center;
  height: 50px;
}

.doneTodo {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.contentCon {
  display: flex;
  align-items: center;
  width: 100%;
}

.checkBox {
  color: #1b427d;
  position: relative;
  left: -5px;
  padding: 0;
}

.todoText {
  display: flex;
  align-items: center;
  height: 20px;
  margin-left: -12px;
}
.editInput {
  width: 130px;
  border: none;
  outline: none;
  height: 20px;
  font-size: 15px;
}

.normalInput {
  width: 165px;
  height: 20px;
  font-size: 15px;
  margin-left: -12px;
}

.modalNav {
  display: flex;
  justify-content: space-between;
}
