#title {
  color: #ffffff;
  font-size: 48px;
  margin-bottom: 80px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -10px;
}

label,
a {
  color: #ffffff;
  cursor: pointer;
}
.btnCon {
  display: flex;
  justify-content: space-between;
}
